<div class="card filtro-panel shadow-sm my-4">

  <div class="row g-3 align-items-end">

    <!-- ======================================= -->
    <!-- OPERATIVO -->
    <!-- ======================================= -->

    <div class="col-lg-8 col-md-8">

      <label class="form-label filtro-label">
        Operativo
      </label>

      <select
        class="form-select filtro-input"
        [(ngModel)]="idOperativo"
        (ngModelChange)="cambioOperativo()"
      >

        <option [ngValue]="null">
          Todos los operativos
        </option>

        <option
          *ngFor="let operativo of operativos"
          [ngValue]="operativo.idOperativo"
        >
          {{ operativo.denominacion }}
        </option>

      </select>

    </div>


    <!-- ======================================= -->
    <!-- REGISTROS -->
    <!-- ======================================= -->

    <div class="col-lg-4 col-md-4">

      <label class="form-label filtro-label">
        Registros
      </label>

      <select
        class="form-select filtro-input"
        [(ngModel)]="limit"
        (change)="cambioCantidad()"
      >

        <option
          *ngFor="let c of limits"
          [ngValue]="c"
        >
          {{ c }}
        </option>

      </select>

    </div>


    <!-- ======================================= -->
    <!-- BUSCAR -->
    <!-- ======================================= -->

    <div class="col-12">

      <label class="form-label filtro-label">
        Buscar equipamiento
      </label>

      <div class="input-group">

        <input
          class="form-control filtro-input"
          placeholder="ID policial, serie, IMEI, tipo, marca, modelo..."
          [(ngModel)]="busqueda"
          (ngModelChange)="cambioBusqueda()"
        />

        <span
          class="input-group-text filtro-buscar-icon"
        >
          <i class="bi bi-search"></i>
        </span>

      </div>

    </div>

  </div>


  <hr />


  <!-- ======================================= -->
  <!-- PAGINACION -->
  <!-- ======================================= -->

  <div
    class="d-flex justify-content-center align-items-center gap-3"
  >

    <button
      class="btn btn-outline-primary filtro-nav-btn"
      [disabled]="paginaActual <= 1 || cargando"
      (click)="setPage('anterior')"
    >
      <i class="bi bi-chevron-left"></i>
    </button>


    <div class="filtro-nav-info">

      Página {{ paginaActual }}

      de

      {{ totalPaginas }}

      <span>
        {{ totalRegistros }} registros
      </span>

    </div>


    <button
      class="btn btn-outline-primary filtro-nav-btn"
      [disabled]="
        paginaActual >= totalPaginas ||
        cargando
      "
      (click)="setPage('siguiente')"
    >
      <i class="bi bi-chevron-right"></i>
    </button>

  </div>

</div>